{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{%block title%} LOGIN PAGE {%endblock%}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-5 offset-md-4">
            <div class="card shadow my-3">
                <div class="card-body">
                    <h4>Login Page</h4>
                    <hr>
                    <form method="POST">
                        {%csrf_token%}
                        {{ form | crispy }}
                        <input class="btn btn-primary btn-block" type="submit" value="Login">
                    </form>
                    <div> 
                        <a href="{% url 'password-reset' %}">Forgot Password</a>
                    </div>
                    <a class="btn btn-success" href="{% url 'user-sign_up' %}">Create an account</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}