{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{%block title%} Password Reset Completet Page {%endblock%}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-5 offset-md-4">
            <div class="card shadow my-3">
                <div class="card-body">
                    <h4>Password Reset Complete Page</h4>
                    <hr>
                    <div class="alert alert-info">
                        Your password has been reset.
                    </div>
                    <a href="{% url 'users-login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}