{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{%block title%} Password Reset Confirm Page {%endblock%}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-5 offset-md-4">
            <div class="card shadow my-3">
                <div class="card-body">
                    <h4>Password Reset Confirm Page</h4>
                    <hr>
                    <form method="POST">
                        {%csrf_token%}
                        {{ form | crispy }}
                        <input class="btn btn-primary btn-block" type="submit" value="Confirm Reset Password">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}